* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  height: 400px;
  width: auto;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.title {
  padding: 20px 0 0 20px;
  color: dimgray;
}

.box-around {
  margin: 20px 0 50px 0;
}

.box {
  color: dimgray;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  width: 840px;
  border-bottom: 2px solid lightgray;
  padding: 30px 0;
}